<div class="home_banner">
    <nav class="navbar navbar-expand-md navBar_style wow fadeInDown " style="visibility: hidden;" >
        <!-- Logo -->
        <div class="img_logo_container">
            <img src="../../../../assets/img/logos/logo_main_light.png" class="img_size " />
        </div>  
        
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler navText" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <i class='fas fa-bars'></i>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav navBar_content ml-auto" >
            <li class="nav-item navText" id="navResume">
                <a class="nav-link" (click)="scrolltoEducation()">Education</a>
            </li>
            <li class="nav-item navText" id="navResume">
                <a class="nav-link" (click)="scrolltoCertification()">Certifications</a>
            </li>
            <li class="nav-item navText" id="navResume">
                <a class="nav-link" (click)="scrolltoJob()">Job Experience</a>
            </li> 
            <li class="nav-item navText" id="navResume">
                <a class="nav-link" (click)="scrolltoProjects()">Projects</a>
            </li> 
            
            <li class="nav-item navText" id="navContact">
                <a class="nav-link" (click)="scrollToContact()">Contact</a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="logoMobile wow fadeInDown" style="visibility: hidden;">
        <div class="img_logo_container mx-auto">
            <img src="../../../../assets/img/logos/logo_main_light.png" class="img_size" />
        </div>
    </div>
    <div class="row row-padding" style="height: 90vh;">
        <div class="col-md-8 my-auto">
            <div class="left_container mx-auto wow fadeInUp" style="visibility: hidden;">
                <h1 class="name_text" id="lbl_Nombre">Hi, I'm Joanka</h1>
                <p class="summary_text">{{description}}</p>
                <div class="contendorSocial  wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden;">
                    <a href="https://www.linkedin.com/in/joankavega" target="_blank" class="fa fa-linkedin"></a>
                    <a href="https://www.instagram.com/joankavega/" target="_blank" class="fa fa-instagram"></a>
                    <a href="https://www.facebook.com/joankavega" target="_blank" class="fa fa-facebook"></a>
                </div>
            
            </div>
        </div>
        <div class="col-">
        </div>
    </div>
</div>