<div class="row row-padding row-light" >
    <div class="col-12">
        <div style="display: flex">
            <div class="titleSquare wow fadeInDown"></div>
            <div class="titleSquare2 my-auto">
                <h1 class="titleSection wow fadeInRight" data-wow-delay="0.1s" style="visibility: hidden;"> Academic Experience</h1>
            </div>
        </div>
       <br>
       <br>
       <div class="row">
            <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden; "  id="actividad0">
                <div class="cardShadow"> 
                    <h1 class="subtitleSection">{{actividades[0].nombre}}</h1>
                    <h1 class="textPlaceResume">{{actividades[0].lugar}}</h1>
                    <h1 class="textPlaceResume">{{actividades[0].anno}}</h1>
                </div>
            </div>
            <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.3s" style="visibility: hidden;"  id="actividad1">
                <div class="cardShadow"> 
                    <h1 class="subtitleSection">{{actividades[1].nombre}}</h1>
                    <h1 class="textPlaceResume">{{actividades[1].lugar}}</h1>
                    <h1 class="textPlaceResume">{{actividades[1].anno}}</h1>
                </div>
            </div>
            <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.4s" style="visibility: hidden;"  id="actividad2" >
                <div class="cardShadow"> 
                    <h1 class="subtitleSection">{{actividades[2].nombre}}</h1>
                    <h1 class="textPlaceResume">{{actividades[2].lugar}}</h1>
                    <h1 class="textPlaceResume">{{actividades[2].anno}}</h1>
                </div>
            </div>
            <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.5s" style="visibility: hidden;"  id="actividad3">
                <div class="cardShadow"> 
                    <h1 class="subtitleSection">{{actividades[3].nombre}}</h1>
                    <h1 class="textPlaceResume">{{actividades[3].lugar}}</h1>
                    <h1 class="textPlaceResume">{{actividades[3].anno}}</h1>
                </div>
            </div>
       </div>
    </div>
 </div>
