
<div class="body my-auto">
    <div class="row" style="height: 100vh; padding: 0; margin: 0;">
        <div class="col-12 my-auto">
            <div class="contendor_principal my-auto">
                
                <div class="img_logo_container mx-auto  wow fadeInUp">
                    <img src="../../../../assets/img/others/turn.png" class="img_size " />
                </div>
                <!--
                <h1 class="bigTitle wow fadeInUp">404</h1>
                <h1 class="title wow fadeInUp" data-wow-delay="0.1s">Page not found</h1>-->
                <br>
                <h2 class="subtitle wow zoomIn" data-wow-delay="0.3s">Rotate your device to view content</h2>
            </div>
        </div>
    </div>
</div>
