<head> <meta http-equiv=”Content-Type” content=”text/html; charset=ISO-8859-1″ /></head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div id="body">
    <app-joanka-banner-principal></app-joanka-banner-principal>
    <app-joanka-education></app-joanka-education>
    <app-joanka-certication></app-joanka-certication>
    <app-joanka-jobs></app-joanka-jobs>
    <app-joanka-projects></app-joanka-projects>
    <app-joanka-phrase></app-joanka-phrase>
    <app-joanka-contact></app-joanka-contact>
</div>

