   

<div class="row row-padding row-light" >
    <div class="col-12">
        <div style="display: flex">
            <div class="titleSquare wow fadeInDown"></div>
            <div class="titleSquare2 my-auto">
                <h1 class="titleSection wow fadeInRight" data-wow-delay="0.1s" style="visibility: hidden;"> Soft skills</h1>
            </div>
        </div> 
       <br>
       <br>
       

 
       <div class="row">
            <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden; ">
                <div class="cardShadow"> 
                    <h1 class="subtitleSection"> <i class="far fa-flag"></i> Leadership</h1>
                    <p class="textSection" >{{softSkills[0]}}</p>
                </div>
            </div>
            <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.3s" style="visibility: hidden;">
                <div class="cardShadow"> 
                    <h1 class="subtitleSection"> <i class="far fa-user"></i> Teamwork</h1>
                    <p class="textSection" >
                        {{softSkills[1]}}
                    </p>
                </div>
            </div>
            <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.4s" style="visibility: hidden;">
                <div class="cardShadow"> 
                    <h1 class="subtitleSection" > <i class="far fa-comments"></i> Communication</h1>
                    <p class="textSection" >
                        {{softSkills[2]}}
                    </p>
                </div>
            </div>
            <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.5s" style="visibility: hidden;">
                <div class="cardShadow"> 
                    <h1 class="subtitleSection" > <i class="far fa-lightbulb"></i> Problem solving</h1>
                    <p class="textSection" >
                       {{softSkills[3]}}
                    </p>
                </div>
            </div>
       </div>
      
    </div>
 </div>


  <!--

 <div class="row row-padding row-light" >
    <div class="col-12">
        <div style="display: flex">
            <div class="titleSquare wow fadeInDown"></div>
            <div class="titleSquare2 my-auto">
                <h1 class="titleSection wow fadeInDown" data-wow-delay="0.1s" style="visibility: hidden;"> Soft skills</h1>
            </div>
        </div>
        <br>
        <br>
        <div  class="carrousel">
            <div class="carrousel-card wow fadeInRight">
                <h1 class="subtitleSection"> <i class="far fa-flag"></i> Leadership</h1>
                <p class="textSection" >{{softSkills[0]}}</p>
            </div>
            <div class="carrousel-card wow fadeInRight" data-wow-delay="0.2s">
                <h1 class="subtitleSection"> <i class="far fa-user"></i> Teamwork</h1>
                <p class="textSection" >
                    {{softSkills[1]}}
                </p>
            </div>
            <div class="carrousel-card wow fadeInRight" data-wow-delay="0.3s">
                <h1 class="subtitleSection" > <i class="far fa-comments"></i> Communication</h1>
                <p class="textSection" >
                    {{softSkills[2]}}
                </p>
            </div>
        </div>
    </div>
 </div>

-->