<div class="home">
    <div class="navbar  navBar_style wow fadeInDown" style="visibility: hidden; height: 10vh;" >
        <!-- Logo -->
        <div class="img_logo_container">
            <img src="../../../../assets/img/logos/logo_main_light.png" class="img_size " />
        </div>  
    </div>
    <div class="body">
        <div class="row" style="height: 90vh; padding: 0; margin: 0; " >
            <div class="col-md-12 my-auto stylecolDerecha" >
                <h1 class="titleMain">Why are you looking for?</h1>
                <br>
                <br>
                <!--<h1 class="title">Software engeniering</h1>
                <h1  class="subtitle">Jean Vega Díaz</h1>-->
                <button class="boton"></button>
            </div>
           
        </div>
    </div>

    
    
</div>
