.wrapper-navbar{
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.navbar{
    height: 70px;
    margin: 0 auto;
    display: flex;
    width: 80%;
}

.navbar-left{
    width: 50%;
}

.navbar-rigth{
    width: 50%;
}


@media only screen and (max-width: 960px) {
    .navbar{
        width: 100%;
    }
}
