<div class="row row-padding row-white" >
    <div class="col-12">
        <div style="display: flex">
            <div class="titleSquare wow fadeInDown"></div>
            <div class="titleSquare2 my-auto">
                <h1 class="titleSection wow fadeInRight" data-wow-delay="0.1s" style="visibility: hidden;"> Certifications</h1>
            </div>
        </div>
       <br>
       <br>
       <div class="row">
            <div class="col-md-6 styleCol wow zoomIn" id="certificacion0" data-wow-delay="0.2s" style="visibility: hidden; " >
                <div class="cardShadow"> 
                    <h1 class="subtitleSection">{{certificaciones[0].nombre}}</h1>
                    <h1 class="textPlaceResume">{{certificaciones[0].lugar}}</h1>
                    <h1 class="textPlaceResume">{{certificaciones[0].anno}}</h1>
                    
                </div>
            </div>
            <div class="col-md-6 styleCol wow zoomIn" id="certificacion1"  data-wow-delay="0.3s" style="visibility: hidden;">
                <div class="cardShadow"> 
                    <h1 class="subtitleSection">{{certificaciones[1].nombre}}</h1>
                    <h1 class="textPlaceResume">{{certificaciones[1].lugar}}</h1>
                    <h1 class="textPlaceResume">{{certificaciones[1].anno}}</h1>
                </div>
            </div>
       </div>
    </div>
 </div>
