<head> <meta http-equiv=”Content-Type” content=”text/html; charset=ISO-8859-1″ /></head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div id="body">
    <div id="banner_principal">
        <app-jean-banner-principal></app-jean-banner-principal>
    </div>
    <!--
    <div id="div_about">
        <app-jean-row-about></app-jean-row-about>
    </div>-->
    <div id="div_certifications">
        <app-jean-certifications></app-jean-certifications>
    </div>
    <div id="div_soft">
        <app-jean-row-soft-skilss></app-jean-row-soft-skilss>
    </div>
    <div id="div_activities">
        <app-jean-row-activities></app-jean-row-activities>
    </div>
    <div id="div_academic_activities">
        <app-jean-row-academic-activities></app-jean-row-academic-activities>
    </div>
    <div id="div_projects">
        <app-jean-row-projects></app-jean-row-projects>
    </div>
    <div>
        <app-jean-row-phrase></app-jean-row-phrase>
    </div>
    <div id="div_contact">
        <app-jean-row-contact></app-jean-row-contact>
    </div>
    <div class="row row-padding row-footer ">
        <div class="img_logo_container mx-auto" >
            <img src="../../../../assets/img/logos/logo_main_dark.png" class="img_size" />
        </div>
    </div>
</div>

<div id="turn">
    <app-turn-page></app-turn-page>
</div>
