<div id="div_projects">
    <div class="row row-padding row-light" >
        <div class="col-12">
            <div style="display: flex">
                <div class="titleSquare wow fadeInDown"></div>
                <div class="titleSquare2 my-auto">
                    <h1 class="titleSection wow fadeInRight" data-wow-delay="0.1s" style="visibility: hidden;">Projects</h1>
                </div>
            </div>
           <br>
           <br>
           <div class="row">
                <div class="col-md-6  styleCol wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden;" >
                    <div class="cardShadow">
                        <div class="img_logoProjecto mx-auto">
                            <img src="../../../../assets/img/ba_images/logo_iniciativas_dark.png" id="img_inciativas" class="img_size my-auto " />
                        </div>  
                        <h1 class="textSection">{{actividades[0].descripcion}}</h1>
                    </div>
                </div>
                <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.3s" style="visibility: hidden;">
                    <div class="cardShadow">
                        <div class="img_logoProjecto mx-auto">
                            <img src="../../../../assets/img/ba_images/logo_yuquitica_dark.png" id="img_yuquiticas" class="img_size " />
                        </div>  
                        <h1 class="textSection">{{actividades[1].descripcion}}</h1>
                    </div>
                </div>
           </div>
        </div>
     </div>
</div>
