<div class="row row-padding row-white" >
    <div class="col-12">
        <div style="display: flex">
            <div class="titleSquare wow fadeInDown"></div>
            <div class="titleSquare2 my-auto">
                <h1 class="titleSection wow fadeInRight" data-wow-delay="0.1s" style="visibility: hidden;"> Projects</h1>
            </div>
        </div>
       <br>
       <br>
       <div class="row">
            <div class="col-md-6 mx-auto styleCol wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden;" >
                
                <div class="cardShadow ">
                    <div class="img_logoProjecto mx-auto">
                        <img src="../../../../assets/img/se_images/logo_carryon_dark.png" id="img_carryon" class="img_size my-auto " />
                    </div>  
                    <h1 class="textSection">{{Projects[0].descripcion}}</h1>
                </div>        
            </div>
        </div>
    </div>
 </div>