<head> <meta http-equiv=”Content-Type” content=”text/html; charset=ISO-8859-1″ /></head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div id="body">
    <div class="home_banner">
        <nav class="navbar navbar-expand-md navBar_style wow fadeInDown " style="visibility: hidden;" >
            <!-- Logo -->
            <div class="img_logo_container">
                <img src="../../../../assets/img/logos/logo_main_light.png" class="img_size " />
            </div>  
            
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler navText" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <i class='fas fa-bars'></i>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav navBar_content ml-auto" >
                <li class="nav-item navText" id="navResume">
                    <a class="nav-link" (click)="scrollToSoft()">Soft skills</a>
                </li>
                <li class="nav-item navText" id="navResume">
                    <a class="nav-link" (click)="scrolltoActivities()">Extracurricular activities</a>
                </li> 
                <li class="nav-item navText" id="navResume">
                    <a class="nav-link" (click)="scrollToProjects()">Projects</a>
                </li> 
                <li class="nav-item navText" id="navContact">
                    <a class="nav-link" (click)="scrollToContact()">Contact</a>
                </li>
              </ul>
            </div>
        </nav>

        <div class="logoMobile wow fadeInDown" style="visibility: hidden;">
            <div class="img_logo_container mx-auto">
                <img src="../../../../assets/img/logos/logo_main_light.png" class="img_size" />
            </div>
        </div>
        <div class="row row-padding" style="height: 90vh;">
            <div class="col-md-8 my-auto">
                <div class="left_container mx-auto wow fadeInUp" style="visibility: hidden;">
                    <h1 class="name_text" id="lbl_Nombre">Hi, I'm Jean</h1>
                    <p class="summary_text">{{description}}</p>
                    <div class="contendorSocial  wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden;">
                        <a href="https://www.linkedin.com/in/jean-vega-díaz-905480192" target="_blank" class="fa fa-linkedin"></a>
                        <a href="https://www.instagram.com/jeanvegad/" target="_blank" class="fa fa-instagram"></a>
                        <a href="https://www.facebook.com/jeanvegad " target="_blank" class="fa fa-facebook"></a>
                        <a href="https://twitter.com/jeanvegad" target="_blank" class="fa fa-twitter"></a>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <!--
    <div id="div_knowledge">
        <div class="row row-padding row-white" >
            <div class="col-12">
               <h1 class="titleSection wow fadeInDown" style="visibility: hidden;" >Professional knowledge </h1>
               <br>
               <br>
               <div class="row">
                    <div class="col-md-6 mx-auto  styleCol wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden;" >
                        <h1 class="subtitleSection">Web development </h1>
                        <h1 class="textSection">Una descripcion mas pequeña y no un texto tan grande</h1>
                    </div>
                    <div class="col-md-6 mx-auto  styleCol wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden;" >
                        <h1 class="subtitleSection"><i class="fas fa-database"></i> Data bases</h1>
                        <h1 class="textSection">Una descripcion mas pequeña y no un texto tan grande</h1>
                    </div>
                    <div class="col-md-6 mx-auto  styleCol wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden;" >
                        <h1 class="subtitleSection"> <i class="fab fa-angular"></i> Web development </h1>
                        <h1 class="textSection">Una descripcion mas pequeña y no un texto tan grande</h1>
                    </div>
                    <div class="col-md-6 mx-auto  styleCol wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden;" >
                        <h1 class="subtitleSection"> <i class="fab fa-angular"></i> Web development </h1>
                        <h1 class="textSection">Una descripcion mas pequeña y no un texto tan grande</h1>
                    </div>
                </div>
            </div>
         </div>
    </div>
    -->
    <div id="div_soft">
        <div class="row row-padding row-light" >
            <div class="col-12">
                <div style="display: flex">
                    <div class="titleSquare wow fadeInDown"></div>
                    <div class="titleSquare2 my-auto">
                        <h1 class="titleSection wow fadeInRight" data-wow-delay="0.1s" style="visibility: hidden;"> Soft skills</h1>
                    </div>
                </div> 
               <br>
               <br>

               <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="background-color: brown; height: 50%;">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                  primer silde
                  </div>
                  <div class="carousel-item">
                    
                  </div>
                  <div class="carousel-item">
                    
                  </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

               <div class="row">
                    <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden; ">
                        <div class="cardShadow"> 
                            <h1 class="subtitleSection"> <i class="far fa-flag"></i> Leadership</h1>
                            <p class="textSection" >{{softSkills[0]}}</p>
                        </div>
                    </div>
                    <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.3s" style="visibility: hidden;">
                        <div class="cardShadow"> 
                            <h1 class="subtitleSection"> <i class="far fa-user"></i> Teamwork</h1>
                            <p class="textSection" >
                                {{softSkills[1]}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.4s" style="visibility: hidden;">
                        <div class="cardShadow"> 
                            <h1 class="subtitleSection" > <i class="far fa-comments"></i> Communication</h1>
                            <p class="textSection" >
                                {{softSkills[2]}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.5s" style="visibility: hidden;">
                        <div class="cardShadow"> 
                            <h1 class="subtitleSection" > <i class="far fa-lightbulb"></i> Problem solving</h1>
                            <p class="textSection" >
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi at illum dignissimos accusamus, eius inventore itaque architecto perferendis id vel eaque praesentium adipisci iusto distinctio placeat cupiditate delectus similique atque!
                            </p>
                        </div>
                    </div>
               </div>
            </div>
         </div>
    </div>
    <div id="div_activities">
        <div class="row row-padding row-white" >
            <div class="col-12">
                <div style="display: flex">
                    <div class="titleSquare wow fadeInDown"></div>
                    <div class="titleSquare2 my-auto">
                        <h1 class="titleSection wow fadeInRight" data-wow-delay="0.1s" style="visibility: hidden;"> Extracurricular activities</h1>
                    </div>
                </div>
               <br>
               <br>
               <div class="row">
                    <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden; " >
                        <div class="cardShadow"> 
                            <h1 class="subtitleSection">{{actividades[0].nombre}}</h1>
                            <h1 class="textPlaceResume">{{actividades[0].lugar}}</h1>
                        </div>
                    </div>
                    <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.3s" style="visibility: hidden;">
                        <div class="cardShadow"> 
                            <h1 class="subtitleSection">{{actividades[1].nombre}}</h1>
                            <h1 class="textPlaceResume">{{actividades[1].lugar}}</h1>
                        </div>
                    </div>
                    <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.4s" style="visibility: hidden;" >
                        <div class="cardShadow"> 
                            <h1 class="subtitleSection">{{actividades[2].nombre}}</h1>
                            <h1 class="textPlaceResume">{{actividades[2].lugar}}</h1>
                        </div>
                    </div>
                    <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.5s" style="visibility: hidden;">
                        <div class="cardShadow"> 
                            <h1 class="subtitleSection">{{actividades[3].nombre}}</h1>
                            <h1 class="textPlaceResume">{{actividades[3].lugar}}</h1>
                        </div>
                    </div>
               </div>
            </div>
         </div>
    </div>
    <div id="div_projects">
        <div class="row row-padding row-light" >
            <div class="col-12">
                <div style="display: flex">
                    <div class="titleSquare wow fadeInDown"></div>
                    <div class="titleSquare2 my-auto">
                        <h1 class="titleSection wow fadeInRight" data-wow-delay="0.1s" style="visibility: hidden;"> Projects</h1>
                    </div>
                </div>
               <br>
               <br>
               <div class="row">
                    <div class="col-md-6 mx-auto styleCol wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden;" >
                        
                        <div class="cardShadow ">
                            <div class="img_logoProjecto mx-auto">
                                <img src="../../../../assets/img/se_images/logo_carryon_dark.png" id="img_carryon" class="img_size my-auto " />
                            </div>  
                            <h1 class="textSection">{{Projects[0].descripcion}}</h1>
                        </div>        
                    </div>
                </div>
            </div>
         </div>
    </div>
    <div class="division_banner">
        <div class="row row-padding" style="height: 90vh;">
            <div class="col-md-12 my-auto wow fadeInUp" style="visibility: hidden;">
                <div class="left_container mx-auto animated fadeInUp" >
                    <h1 class="phrase_text " id="lbl_Nombre">{{frase1}}</h1>
                    <p class="autor_text">{{autor1}}</p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="div_contact">
        <div class="row row-padding row-white" >
            <div class="col-12">
                <div style="display: flex">
                    <div class="titleSquare wow fadeInDown"></div>
                    <div class="titleSquare2 my-auto">
                        <h1 class="titleSection wow fadeInRight" data-wow-delay="0.1s" style="visibility: hidden;"> Lets talk</h1>
                    </div>
                </div> 
               <br>
               <br>
               <div class="">
                    <div class="formStyle my-auto mx-auto animated fadeInUp">                    
                        <br>
                        <div id="alertMail"></div>
                        <div class="input-group mb-2 wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden;">
                            <h1 class="inputLabelStyle animated fadeInDown">Name </h1>
                            <input type="text" class="inputStyle"  [(ngModel)]="e_nombre" />
                        </div>
                        <div class="input-group mb-2 wow zoomIn" data-wow-delay="0.3s" style="visibility: hidden;">
                            <h1 class="inputLabelStyle animated fadeInDown">Email </h1>
                            <input type="text" class="inputStyle"  [(ngModel)]="e_email" />
                        </div>
                        <div class="input-group mb-2 wow zoomIn" data-wow-delay="0.4s" style="visibility: hidden;">
                            <h1 class="inputLabelStyle animated fadeInDown">Subject </h1>
                            <input type="text" class="inputStyle"  [(ngModel)]="e_asunto" />
                        </div>
                        <div class="input-group mb-2 wow zoomIn" data-wow-delay="0.5s" style="visibility: hidden;">
                            <h1 class="inputLabelStyle animated fadeInDown">Message </h1>
                            <textarea type="text" class="inputStyle" [(ngModel)]="e_mensaje"></textarea>
                        </div>
                        <button class="boton_enviar wow zoomIn" data-wow-delay="0.6s" style="visibility: hidden;" (click)="enviarCorreo()"> <i class="fab fa-telegram-plane"> </i> Submit</button>    
                    </div>
               </div>
               
            </div>
        </div>
    </div>
    <div class="row row-padding row-footer ">
        <div class="img_logo_container mx-auto" >
            <img src="../../../../assets/img/logos/logo_main_dark.png" class="img_size" />
        </div>
    </div>
    
</div>


<div id="turn">
    <app-turn-page></app-turn-page>
</div>