@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root {
  --primary-bg-color: #EBF3F8;
  --secondary-bg-color: #FAFAFA;
  --primary-color:  #0F4C75;
  --secondary-color:  #3282B8;
}

body{
  margin: 0;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 96px;
  color: var(--primary-color);
  margin: 0 10px;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: var(--primary-color);
  margin: 0 0 0.5rem 0;
}

h3{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: var(--primary-color);
  margin: 0 0 0.5rem 0;
}

h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 34px;
  color: var(--primary-color);
  margin: 0;
}

h5{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--primary-color);
  font-size: 24px;
  margin: 0 0 0.5rem 0;
}

h6{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--secondary-color);
  font-size: 20px;
  margin: 0 0 0 0;
}

.subtitle1{
  font-weight: 400;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;  
  text-overflow: ellipsis;
}

p{
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  color: var(--secondary-color);
  font-size: 16px;
  margin: 0 0 0.5rem 0;
}

.primaryButton{

}

.secondaryButton{
  padding: 10px 15px 10px 15px; 
  background-color: transparent;
  border: solid 1px var(--secondary-color);
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: var(--secondary-color);
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.secondaryButton:hover{
  background-color: var(--secondary-color);
  color: white;
}

@media only screen and (max-width: 1280px) {
  h1{
    font-size: 76px;
  }
  
  h2{
    font-size: 50px;
  }
  
  h3{
    font-size: 43px;
  }
  
  h4{
    font-size: 28px;
  }
  
  h5{
    font-size: 20px;
  }

  h6{
    font-size: 16px;
  }
  
  p{
    font-size: 15px;
  }
}

@media only screen and (max-width: 960px) {
  h1{
    line-height: 49px;
    font-size: 45px;
  }
  
  h2{
    line-height: 40px;
    font-size: 30px;
  }
  
  h3{
    line-height: 35px;
    font-size: 25px;
  }
  
  h4{
    line-height: 30px;
    font-size: 20px;
  }
  
  h5{
    line-height: 25px;
    font-size: 18px;
  }

  h6{
    font-size: 18px;
  }
  
  p{
    font-size: 14px;
  }
  
}