



<div style="display: inline-block;">
    <!--
    <div>
        <div style="float: left;">
            <img src="https://imagizer.imageshack.com/img924/6046/Kef2OA.png" style="width: 5px;" height="95px" alt="">
        </div>
        <div style="float: left;">
            <h1 class="titulo">Jean Vega Díaz</h1>
            <h1 class="subtitulo">Computer Engineering Student</h1>
            <h1 class="subtitulo">Instituto Tecnológico de Costa Rica</h1> 
        </div>
    </div>
    -->
    <div>
        <div >
            <h1 class="enlaces" style="font-weight: bold; float: left; margin-right: 5px;">Linkedin: </h1>
            <h1 class="enlaces" style="float: left;"><a href="https://www.linkedin.com/in/jeanvegad/">jeanvegad</a></h1>
        </div>
        <div >
            <h1 class="enlaces" style="font-weight: bold; float: left; margin-right: 5px;">Website: </h1>
            <h1 class="enlaces" style="float: left;"><a href="vegadiaz.com/jean">vegadiaz.com/jean</a></h1>
        </div>
        <div>
            <h1 class="enlaces" style="font-weight: bold; float: left; margin-right: 5px;">Phone: </h1>
            <h1 class="enlaces" style="float: left;">+506 89526825</h1>
        </div>
    </div>
</div>
