<div id="div_job">
    <div class="row row-padding row-white" >
        <div class="col-12">
            <div style="display: flex">
                <div class="titleSquare wow fadeInDown"></div>
                <div class="titleSquare2 my-auto">
                    <h1 class="titleSection wow fadeInRight" data-wow-delay="0.1s" style="visibility: hidden;">Job Experience</h1>
                </div>
            </div>
           <br>
           <br>
           <div class="row">
                <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden;">
                    <div class="cardShadow">
                        <h1 class="subtitleSection">{{jobs[0].nombre}}</h1>
                        <h1 class="textSection">{{jobs[0].lugar}}</h1>
                        <br>
                        <h1 class="textSection"><b>Tasks:</b></h1>
                        <ul>
                            <li class="textPlaceResume">{{jobs[0].tasks[0]}}</li>
                            <li class="textPlaceResume">{{jobs[0].tasks[1]}}</li>
                            <li class="textPlaceResume">{{jobs[0].tasks[2]}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 styleCol wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden;">
                    <div class="cardShadow">
                        <h1 class="subtitleSection">{{jobs[1].nombre}}</h1>
                        <h1 class="textSection">{{jobs[1].lugar}}</h1>
                        <br>
                        <h1 class="textSection"><b>Tasks:</b></h1>
                        <ul>
                            <li class="textPlaceResume">{{jobs[1].tasks[0]}}</li>
                            <li class="textPlaceResume">{{jobs[1].tasks[1]}}</li>
                            <li class="textPlaceResume">{{jobs[1].tasks[2]}}</li>
                        </ul>
                    </div>
                </div>
           </div>

        </div>
     </div>
</div>
